{% extends "layout.html" %}
{% set title = "Dashboard" %}

{% block content %}
<div class="flex">
    <!-- Sidebar -->
    {% include "sidebar.html" %}
    <!-- Main Content -->
    {% if user.userType == "admin" %}
    <main class="ml-[14rem] p-6 text-gray-300 w-[100%]">
        <div class="grid grid-cols-2 gap-6 mt-6">
            {% for campus in [
            {"acronym": "UC Main", "name": "University of Cebu - Main", "url": "ucm"},
            {"acronym": "UCLM", "name": "University of Cebu - Lapu-lapu and Mandaue", "url": "uclm"},
            {"acronym": "UCB", "name": "University of Cebu - Banilad", "url": "ucb"},
            {"acronym": "UCPT", "name": "University of Cebu - Pardo and Talisay", "url": "ucpt"}
            ] %}
            <a href="{{ url_for(campus.url) }}" class="block bg-gray-800 p-6 rounded-lg shadow-md text-center transition hover:bg-gray-700">
                <div class="w-16 h-16 bg-white rounded-full mx-auto"></div>
                <h3 class="text-lg font-bold text-white mt-4">{{ campus.acronym }}</h3>
                <p class="text-gray-400">{{ campus.name }}</p>
            </a>
            {% endfor %}
        </div>
    </main>

    {% elif user.userType == "Dean" %}
    <main class="w-[100%] ml-[14rem] p-6 text-gray-300">

        <!-- Toggle Button for Upload Section -->
        <a href="{{ url_for('uploadHistory') }}" class="bg-blue-800 text-white py-2 px-4 rounded-lg hover:bg-[var(--primary-color)] transition">
            Upload
        </a>

        <div class="grid grid-cols-2 gap-6 mt-6">
            {% for campus in [
            {"acronym": "UC Main", "name": "University of Cebu - Main", "url": "ucm"},
            {"acronym": "UCLM", "name": "University of Cebu - Lapu-lapu and Mandaue", "url": "uclm"},
            {"acronym": "UCB", "name": "University of Cebu - Banilad", "url": "ucb"},
            {"acronym": "UCPT", "name": "University of Cebu - Pardo and Talisay", "url": "ucpt"}
            ] %}
            <a href="{{ url_for(campus.url) }}" class="block bg-gray-800 p-6 rounded-lg shadow-md text-center transition hover:bg-gray-700">
                <div class="w-16 h-16 bg-white rounded-full mx-auto"></div>
                <h3 class="text-lg font-bold text-white mt-4">{{ campus.acronym }}</h3>
                <p class="text-gray-400">{{ campus.name }}</p>
            </a>
            {% endfor %}
        </div>
    </main>

    {% elif user.userType == "Campus Director" or  user.userType == "Vice Chancellor" or user.userType == "Teacher" %}
    <main class="w-full ml-[260px] p-4 mt-1 transition-all duration-300 text-gray-300">
        <h2 class="text-3xl font-bold text-white shadow-md">Welcome to Your Dashboard</h2>

    </main>

    {% else %}
    {# Redirect Unauthorized Users to Login #}
    <script>
    window.location.href = "{{ url_for('login') }}";
    </script>

    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
