{% extends "layout.html" %}
{% set title = "Upload" %}

{% block content %}
<div class="flex">
    <!-- Sidebar -->
    {% include "sidebar.html" %}

    {% if user.userType == "Dean" %}
    <main class="ml-[14rem] p-6 text-gray-300 w-[100%]">

        <!-- Back to college Button -->
        <a id="backToCollegeBtn" href="#" class="mt-4 inline-block px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg text-white">
            Back to College
        </a>

        <!-- Hidden upload section -->
        <div id="uploadContainer" class="mt-4">
            {% include "upload.html" %}
        </div>
    </main>

    {% elif user.userType == "Campus Director" or  user.userType == "Vice Chancellor" or user.userType == "Teacher" %}
    <main class="w-full ml-[260px] p-4 mt-1 transition-all duration-300 text-gray-300">
        <h2 class="text-3xl font-bold text-white shadow-md">Welcome to Your Dashboard</h2>

    </main>

    {% else %}
    {# Redirect Unauthorized Users to Login #}
    <script>
    window.location.href = "{{ url_for('login') }}";
    </script>

    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const params = new URLSearchParams(window.location.search);
        const teacherUName = params.get("teacher");
        const collegeAcronym = params.get("college");

        if (collegeAcronym) {
            document.getElementById("backToCollegeBtn").href = "/college/" + encodeURIComponent(collegeAcronym) + "/{{ user.campus_acronym }}";
        }

        if (teacherUName) {
            const teacherInput = document.getElementById("teacherUName");
            if (teacherInput) {
                teacherInput.value = teacherUName;
            }
        }
    });
</script>

{% endblock %}
